{% from "helpers.jinja2" import render_field %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Form</title>
</head>
<body>
<form method="POST">
    <h1>First Form with custom header</h1>
    {{ form.csrf_token }}
    {% for field in (
      form.first_name,
      form.last_name,
    )%}
      {{ render_field(field) }}
    {% endfor %}
    <input type="submit" value="Submit">
  </form>
</body>
</html>
