<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index page</title>
</head>
<body>
<form action='{{ my_blood }}' method="POST">
    {{ f.csrf_token }}
    {% for field in f %}
      {% if field != f.csrf_token %}
        <tr>
            <th>{{ field.label }}</th>
            <td>{{ field }}</td>
        </tr>
      {% endif %}
    {% endfor %}
    <input type="submit" value="Submit">
  </form>
</body>
</html>
